/*
body{
  background-color: #E3E7D3;
  height: 100%;
}
nav{
  background-color: #254668 !important;
}
.box{
  width: 30%;
  margin-left: 35%;
}
.largerFont{
  font-size: 20px;
}
*/
/*

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem !important;
  background-color: #254668 !important;
}

*/
